  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background-image: url(img/background.png);
    position: fixed;
    left: 47.5%;
    top:18%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  canvas{
    width: auto;
  }
  #eye{
    display: none;
  }
