  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background-image: url(img/background.png);
    position: fixed;
    left: 890px;
    top:162px;
    justify-content: center;
    background-repeat: no-repeat;
  }
  #eye{
    display: none;
  }
